body{
    background: #f0ecff;
}

.card {
    margin-top: 30px;
}

.card-body-image{
    width: 100% ;
    height: 100% ;
    border-radius:50% ;

}

#add-btn {
    z-index: 9999;
    position: fixed;
    bottom: 5%;
    right: 6%;
    height: 70px;
    width: 70px;
    font-size: 50px;
    color: white;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.3);

}

@media only screen and (max-width: 800px){



    .card-body-image{
        height: 90% ;
    
    }

    #add-btn {
        right: 1%;
        height: 50px;
        width: 50px;
        font-size: 40px;
        color: white;
        border-radius: 100%;
        line-height: 45px;
    
    }
    .user-main-info{
        font-size: 0.8rem !important ;
        

    }
    .number-info{
        font-size: 9px ;
    }

    .number-info>span{
        font-size: 20px !important;
    }


    .com{
        align-items: end ;
        
    }
}


.img-home:hover{
opacity: 0.9;


}
.card-body,.card-header{
    cursor: pointer;
}

#success-alert{
    position: fixed;
    z-index: 999999;
    width: 30%;
    bottom: 0;
    right: 0;
}

.btn{
    width: 70px !important;
}




/* ========== LOADER STYLES ========= */

#loader{
    background: rgba(128, 128, 128, 0.495);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
transform: rotate(0deg);
    }

    100% {
transform: rotate(360deg);
    }
}
/* ==========// LOADER STYLES //========= */